<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="Stephan Hügel" name="author">
    <meta content="" name="twitter:title">
    <meta content="Where can I walk in Dublin while observing the 2 km covid-19 movement restriction?" name="description">
    <meta content="Where can I walk in Dublin while observing the 2 km covid-19 movement restriction?" name="twitter:description">
    <meta content="Where can I walk in Dublin while observing the 2 km covid-19 movement restriction?" name="og:description">
    <meta content="summary_large_image" name="twitter:card">
    <!-- <meta content="https://urschrei.github.io/greggs/meta.png" name="twitter:image"> -->
    <meta content="1038301" property="twitter:account_id">
    <meta content="urschrei@gmail.com" property="og:email">
    <title>Where Can I Walk in Dublin: 500</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script type="application/ld+json">{"@context": "http://schema.org","@type": "CreativeWork","author": "Stephan Hügel"}</script>
</head>
<body>
<h1>Something's gone wrong</h1>
<p>Go <a href="/">home</a></p>
</body>
</html>